name: Test
on:
    push:
        branches:
            - master
            - ci/test # For testing changes to this workflow
    pull_request:
        branches:
            - master
    merge_group:
    workflow_dispatch:
permissions:
    contents: read
    actions: read
    checks: write
jobs:
    Tests:
        name: Tests
        uses: jacobshirley/.github/.github/workflows/test.yaml@0afbf05ad349d138c0a21eec908a71766e43db42
